body{
	width:800px;
	margin-left:auto;
	margin-right:auto;
	background-color:blue;
}

article{
	background-color:green;
}

.win {
	background-color:black;
	height:250px;
	z-index:1;
}

.maps {
	height:238px;
	background: url("../maps/plan3_2.png") no-repeat ;
	background-position: -130px 0;
}

.perso {
	height:60px;
	margin-top:-86px;
	z-index:100;
	position:relative;
	width:55px;
	//background-color:red;
}

.marche {
	background-position: -2px 0;
}

.win1 {
	padding-top:50px;
	background-color:green;
	height:250px;
	z-index:50;
	text-align:center;
	margin-top:20px;
}

.loose {
	padding-top:50px;
	background-color:green;
	height:250px;
	z-index:5;
	text-align:center;
	margin-top:20px;
}

.times{
	color:yellow;
	font-size:20px;
	text-align:center;
}

.trou {
	width: 36px;
	height: 30px;
	margin-top:-40px;
	//background-color:blue;
	z-index:4;
	margin-left:-30px;
}

#trou1 {
	background-color:black;
	margin-left:150px;
}
#trou2 {
	background-color:black;
	margin-top:-30px;
	margin-left:372px;
}
#trou3 {
	background-color:black;
	margin-top:-30px;
	margin-left:417px;
}